$primary-color: #00162B;
$secondary-color: #0031D4;
$light: #fff;
$dark: #000;
$text-color: hsl(0, 0%, 85%);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
}

.bg-primary {
  background-color: $primary-color;
}

.color-light {
  color: $light;
}

.color-dark {
  color: $dark;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}